.venv
__pycache__

*/.ipynb_checkpoints/

PyROOT_Tutorial/

raw_data/**
raw_data_set2/**
!raw_data/.gitkeep
!raw_data_set2/.gitkeep

raw_data_background/**
!raw_data_background/.gitkeep

processed_data/test/*
processed_data/train/*
processed_data/val/*
processed_data_set2/test/*
processed_data_set2/train/*
processed_data_set2/val/*

old/*

siamese/model*/*.npz
